<div class="container p-5 bg-primary mt-5 rounded-3">
    <h1 class="display-1">{{title}}</h1>
    <p class="lead">{{{message}}}</p>
</div>

<div class="container p-5 mt-5 bg-secondary text-light mt-5 rounded-3">
    <h1 class="display-1">Secondary Colour</h1>
</div>