<div class="container-fluid p-5 bg-primary text-light">
    <h1 class="display-1">{{title}}</h1>
    <p class="lead">{{{message}}}</p>
</div>

<div class="container-fluid p-5 bg-secondary text-light vh-100">
    <h1 class="display-1 mb-5">Secondary Colour + Image</h1>
    <img src="../src/assets/images/coding.png" class="img-rounded" alt="Coder at desk" width="256" height="256">
</div>
